@model CarRental.Web.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    //<asp:ValidationSummary ID="ValidationSummary1" ShowMessageBox="true" runat="server" />
    @Html.ValidationSummary(true, "Login failed.");
    <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
    <div align="center">
        <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                @Html.LabelFor(u => u.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.UserName)
                @Html.ValidationMessageFor(u => u.UserName)
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="editor-label">
                @Html.LabelFor(u => u.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.Password)
                @Html.ValidationMessageFor(u => u.Password)
            </div>
            <div class="editor-label">
                @Html.CheckBoxFor(u => u.RememberMe)
                @Html.LabelFor(u => u.RememberMe)
            </div>
            <input type="submit" value="Log In" /><br />
            @Html.ActionLink("Register", "Register")
        </fieldset>
    </div>
}