@using CarRental.DataAccess.Entities;
@using CarRental.Web.Controllers.Web;
@model List<User>
@{
    ViewBag.Title = "Mater";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div>
      <table class="table table-bordered">
           <thead>
                <tr>
                    <td>ID</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Status</td>
                </tr>
            </thead>

        @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(model => item.Id)</td>
                <td>@Html.DisplayFor(model => item.Username)</td>
                <td>@Html.DisplayFor(model => item.Email)</td>
                <td>
                    <select id="selectUserStatus" onchange="changeStatus(this, @item.Id)">
                        @if (item.Status.Equals(UserStatus.Regular))
                        {
                            <option value="regular" selected="selected">@UserStatus.Regular</option>
                                <option value="admin">@UserStatus.Admin</option>
                                <option value="master">@UserStatus.Master</option>
                        }
                        @if (item.Status.Equals(UserStatus.Admin))
                        {
                            <option value="regular">@UserStatus.Regular</option>
                                <option value="admin" selected="selected">@UserStatus.Admin</option>
                                <option value="master">@UserStatus.Master</option>
                        }
                        @if (item.Status.Equals(UserStatus.Master) && item.Id != 1)
                        {
                            <option value="regular">@UserStatus.Regular</option>
                                <option value="admin">@UserStatus.Admin</option>
                                <option value="master" selected="selected">@UserStatus.Master</option>
                        }
                        @if (item.Status.Equals(UserStatus.Master) && item.Id == 1)
                        {
                            <option value="master" selected="selected">@UserStatus.Master</option>
                        }
                    </select>
                </td>
                @if (!item.Status.Equals(UserStatus.Master))
                {
                    <td>
                        <a href='javascript:window.location.reload();' onclick="removeUser(@item.Id)">Remove</a>
                    </td>
                }
            </tr>
        }
        </table>
    </div>

</body>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    function changeStatus(selectTag, _id) {
        var selIdx = selectTag.selectedIndex;
        var selOption = selectTag.options[selIdx];

        var e = document.getElementById("selectUserStatus");
        var strUser = e.options[e.selectedIndex].text;
        $.get("/Account/ChangeUserStatus", { id: _id, value: selOption.text });
    }

    function removeUser(_id) {
        if(confirm("Are you sure you want to remove this user?")){
            $.get("/Account/RemoveUser", { id: _id });
        }
    }

</script>
