@using CarRental.DataAccess.Entities;
@{
    ViewBag.Title = "Mater";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <div class="input-group padding10">
        <input id="txt_Search" type="text" class="form-control table table-bordered" placeholder="Search" />
        <span class="input-group-addon">
            <a href="#"><i class="glyphicon glyphicon-search" onclick="searchUsers()"></i></a>
        </span>
    </div>
    <div>
        
      <table class="table table-bordered">
           <thead>
                <tr>
                    <td>ID</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Status</td>
                </tr>
            </thead>
          <tbody id="userTable"></tbody>
        
        </table>
    </div>

</body>



<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>

    $(document).ready(function () {
        //alert(@UserStatus.Master);
        displayAllUsers();
    });

    $("#txt_Search").keyup(function () {
        searchUsers();
    });

    $("#txt_Search").keyup(function() {

        if (!this.value) {
            displayAllUsers();
        }

    });

    function displayAllUsers(){
        $.get("/Account/GetAllUsers",
            function (data) {
                generateTable(data);
            });

    }


    function changeStatus(selectTag, _id) {
        var selIdx = selectTag.selectedIndex;
        var selOption = selectTag.options[selIdx];

        var e = document.getElementById("selectUserStatus");
        var strUser = e.options[e.selectedIndex].text;
        $.get("/Account/ChangeUserStatus", { id: _id, value: selOption.text });
    }

    function removeUser(_id) {
        if(confirm("Are you sure you want to remove this user?")){
            $.get("/Account/RemoveUser", { id: _id });
        }
    }

    function searchUsers() {
        var searchQuery = $("#txt_Search").val();
        $.get("/Account/SearchUsers", { SearchQuery: searchQuery },
            function (data) {
                generateTable(data);
        });

    }

    function generateTable(data) {
        $("#userTable").empty();
        var new_tbody = document.createElement('tbody');

        for (var i = 0; i < data.length; i++) {
            var html = '<tr><td>' + data[i].Id + '</td><td>' + data[i].Username + '</td><td>'
              + data[i].Email + '</td><td>' + data[i].Status + '</td>';


            html = html + '<td>' + '<select id="selectUserStatus" onchange="changeStatus(this, ' + data[i].Id + ')">';
            if (data[i].Status == '@UserStatus.Regular') {
                html = html + '<option value="regular" selected="selected">@UserStatus.Regular</option>'+
                                  '<option value="admin">@UserStatus.Admin</option>'+
                                  '<option value="master">@UserStatus.Master</option>';

            }
            if (data[i].Status == '@UserStatus.Admin') {
                html = html + '<option value="regular">@UserStatus.Regular</option>' +
                                  '<option value="admin" selected="selected">@UserStatus.Admin</option>' +
                                  '<option value="master">@UserStatus.Master</option>';

            }
            if (data[i].Status == '@UserStatus.Master' && data[i].Id != 1) {
                html = html + '<option value="regular">@UserStatus.Regular</option>' +
                                  '<option value="admin">@UserStatus.Admin</option>' +
                                  '<option value="master" selected="selected">@UserStatus.Master</option>';

            }
            if (data[i].Status == '@UserStatus.Master' && data[i].Id == 1) {
                html = html + '<option value="master" selected="selected">@UserStatus.Master</option>';

            }



            html += "</select></td>";


            if (data[i].Status != '@UserStatus.Master') {
                html = html + '<td>' + '<a href="javascript:window.location.reload();" onclick="removeUser(' + data[i].Id + ')">Remove</a>' + '</td>';
            }
            html+='</tr>';
            $("#userTable").append(html);

        }
    }




</script>


<style>
    .padding10{
        padding-bottom: 10px;
        padding-top: 10px;
    }
</style>
