@model CarRental.Web.Models.OrderSubmit


<div class="orderSubmitDiv">
    <div class="carResultDiv row">
        <div class="col-xs-4">
            <img class="carImage" src="http://cdn.rcstatic.com/images/car_images/new_images/kia/rio_lrg.jpg" />
        </div>

        <div class="carResultRow_CarSpec col-xs-8">
            <h2>
               Kia Rio
            </h2>
            <h3>
                Total:
                100$
            </h3>
        </div>
    </div>
</div>

<div class="orderSubmitDiv">
    <h3>Driver Information</h3>
    <hr style="border-color: black"/>
    <form asp-controller="Order" asp-action="OrderSubmit" class="form-horizontal" method="post">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class='input-group date input-width280' id='datetimepickerStart'>
                    <input asp-for="StartDate" class="form-control" id="orderEnd" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class='input-group date input-width280' id='datetimepickerEnd'>
                    <input asp-for="EndDate" class="form-control" id="orderEnd" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" id="firstname" class="form-control input-width280" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" id="lastname" class="form-control input-width280" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" id="email" class="form-control input-width280" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" id="phone" class="form-control input-width280" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PickUp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PickUp" class="form-control input-width280"
                         asp-items="@ViewBag.locations"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DropOff" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DropOff" class="form-control input-width280" 
                        asp-items="@ViewBag.locations"></select>
            </div>
        </div>
        <div class="form-group">
            <span class="col-md-2"></span>
            <label asp-for="LocationComment" class="col-md-10 location-comment"></label>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Comments" class="form-control input-width280" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" charset="utf-8">
    $("#datetimepickerStart").datetimepicker({
        format: 'YYYY-MM-DD hh:mm'
    });

    $("#datetimepickerEnd").datetimepicker({
        format: 'YYYY-MM-DD hh:mm'
    });

    @*$(document).ready(function () {

        @if(ViewBag.currentUser != null){
            if(ViewBag.currentUser.FirstName != null)
            {
                @:var input = document.getElementById("firstname");
                @:input.value = '@ViewBag.currentUser.FirstName';

            }
            if(ViewBag.currentUser.LastName != null)
            {
                @:var input = document.getElementById("lastname");
                @:input.value = '@ViewBag.currentUser.LastName';
                @:var str = '@ViewBag.currentUser.LastName';

            }
            if(ViewBag.currentUser.Email != null)
            {
                @:var input = document.getElementById("email");
                @:input.value = '@ViewBag.currentUser.Email';

            }
            if(ViewBag.currentUser.PhoneNumber != null)
            {
                @:var input = document.getElementById("phone");
                @:input.value = '@ViewBag.currentUser.PhoneNumber';

            }
        }
    });*@
</script>