@model CarRental.Web.Models.OrderSubmit


<div class="orderSubmitDiv">
    <div class="carResultDiv row">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img class="carImage" src="/Uploads/@Model.Car.Photo" />
                    </td>
                    <td class="carResultRow_CarSpec">
                        <h2>@Model.Car.Make @Model.Car.Model</h2>
                        <div class="carSpecs">
                            <div>
                                <span>Metai: @Model.Car.Year</span>
                            </div>
                            <div>
                                <span>Kuro tipas: @Model.Car.FuelType</span>
                            </div>
                        </div>
                        <h3>Kaina: 
                            <span id="priceField"></span>
                        </h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="orderSubmitDiv">
    <h3>Vairuotojo informacija</h3>
    <hr style="border-color: black"/>
    <form asp-controller="Order" asp-action="OrderSubmit" class="form-horizontal" method="post">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger" id="validationSummary"></div>
        <input asp-for="AutoId" type="hidden" />
        <input asp-for="Price" type="hidden" id="dailyRate" />
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class='input-group date input-width280' id='datetimepickerStart'>
                    <input asp-for="StartDate" class="form-control" id="orderStart" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="StartDate" class="text-danger" id="startDateValidation"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class='input-group date input-width280' id='datetimepickerEnd'>
                    <input asp-for="EndDate" class="form-control" id="orderEnd" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="EndDate" class="text-danger" id="endDateValidation"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" id="firstname" class="form-control input-width280" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" id="lastname" class="form-control input-width280" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" id="email" class="form-control input-width280" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" id="phone" class="form-control input-width280" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PickUp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="PickUp" class="form-control input-width280"
                         asp-items="@ViewBag.locations"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DropOff" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="DropOff" class="form-control input-width280" 
                        asp-items="@ViewBag.locations"></select>
            </div>
        </div>
        <div class="form-group">
            <span class="col-md-2"></span>
            <label asp-for="LocationComment" class="col-md-10 location-comment"></label>
        </div>
        <div class="form-group">
            <label asp-for="Comments" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Comments" class="form-control input-width280" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" id="btnSubmit">Pateikti</button>
            </div>
        </div>
    </form>
</div>


<script>

    $(function () {
        setPrice();

        $('#datetimepickerStart').datetimepicker().on('dp.change', function (e) {
            if(validateDates() && isAvailable()){
                setPrice();
                document.getElementById("btnSubmit").disabled = false;
                //displayPrice();
                //isFree(orderStart, orderEnd);
            }else{
                document.getElementById("btnSubmit").disabled = true;
            }
        });


        $('#datetimepickerEnd').datetimepicker().on('dp.change', function (e) {
            if(validateDates() && isAvailable()){
                setPrice();
                document.getElementById("btnSubmit").disabled = false;
                //displayPrice();
                //isFree(orderStart, orderEnd);
            }else{
                document.getElementById("btnSubmit").disabled = true;
            }
        });

    });

    function validateDates(){
        var days = daydiff(orderStart, orderEnd);
        var validation = document.getElementById("validationSummary");
        if(days < 0){
            validation.innerHTML = "Pradžios data yra vėliau negu pabaigos data";
        }else if(days == 0){
            validation.innerHTML = "Užsakymas trukmė turi būti bent viena diena";
        }else{
            validation.innerHTML="";
            return true;
        }
        return false;
    }

    function isAvailable() {
        $.ajax({
            type: "POST",
            url: "/Order/IsAvailable",
            data: {
                id: @Model.AutoId,
                startDate: new Date(orderStart.value.replace(/-/g,"/")).toISOString(),
                endDate: new Date(orderEnd.value.replace(/-/g,"/")).toISOString()
            },
            success: function (result) {
                var validation = document.getElementById("validationSummary");
                if(result == true){
                    validation.innerHTML = "Atsiprašome, pasirinktu laiku automobilis yra užimtas";
                    return false;
                }else{
                    validation.innerHTML = "";
                    return true;
                }
            },
        });

    }

    function setPrice() {
        var days = daydiff(orderStart, orderEnd);
        $.ajax({
            type: "POST",
            url: "/Order/GetDailyRate",
            data: {
                autoId: @Model.AutoId,
                duration: days
            },
            success: function (result) {
                if(result >= 0){
                    document.getElementById("dailyRate").value = result;
                    displayPrice();
                }
                //document.getElementById("priceField").innerHTML = document.getElementById("dailyRate").value;
            },
        });

    }



    function displayPrice() {
        var span = document.getElementById("priceField");
        var price = document.getElementById("dailyRate").value;
        var days = daydiff(orderStart, orderEnd);
        if (price > 0 && days > 0) {

            span.innerHTML = (price * days).toFixed(2) + "€";
        }else if(price > 0 && (orderStart.value == "" || orderEnd.value == "")){
            span.innerHTML = price + "€";
        }
        else {
            span.innerHTML = "0.00€";
        }
    }

    $("#datetimepickerStart").datetimepicker({
        format: 'YYYY-MM-DD hh:mm'
    });

    $("#datetimepickerEnd").datetimepicker({
        format: 'YYYY-MM-DD hh:mm'
    });

    /*function validateStartDate() {
        var timestamp=Date.parse('orderStart');

        if (isNaN(timestamp) == false)
        {
            var validation = document.getElementById("startDateValidation");
            validation.innerHTML = "Neteisinga data";
            return false;
        }
        return true;
    }

    function validateEndDate() {
        var timestamp=Date.parse('orderEnd');

        if (isNaN(timestamp) == false)
        {
            var validation = document.getElementById("endDateValidation");
            validation.innerHTML = "Neteisinga data";
            return false;
        }
        return true;
    }*/

</script>